{:source-paths ["src/clj" "src/cljs"]
 :dependencies [[reagent/reagent "1.2.0"]]
 :builds
 {:app
  {:target :react-native
   :output-dir "target/out-rn"
   :asset-path "/assets"
   :init-fn breakdex.rn-init/init
   :devtools {:http-root "target/out-rn"
              :http-port 8080}}
  :release
  {:target :react-native
   :output-dir "target/out-release"
   :asset-path "/assets"
   :init-fn breakdex.rn-init/init
   :compiler-options {:optimizations :advanced
                      :source-map true}}}}
